In [2]:
# Instalando o Faker
pip install Faker

Requirement already satisfied: Faker in c:\users\dioni\anaconda3\lib\site-packages (37.0.0)
Requirement already satisfied: tzdata in c:\users\dioni\anaconda3\lib\site-packages (from Faker) (2025.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Imports
from faker import Faker
import numpy as np
import pandas as pd

In [161]:
fake = Faker('pt_BR')
dtypes={'id_jogador': np.int32,'nome': 'object', 'email': 'object'}
df_temp = pd.DataFrame(columns=['id_jogador','nome', 'email'])
df_temp.dtypes

df_jogadores = df_temp.astype(dtype=dtypes)
df_jogadores.dtypes

id_jogador     int32
nome          object
email         object
dtype: object

In [162]:
# Array contendo o ID dos 40000 jogadores
ids_jogadores = np.arange(1, 40000+1, dtype=int)

# Adicionando o array de ID ao df_jogadores
df_jogadores['id_jogador'] = ids_jogadores
df_jogadores

       id_jogador nome email
0               1  NaN   NaN
1               2  NaN   NaN
2               3  NaN   NaN
3               4  NaN   NaN
4               5  NaN   NaN
...           ...  ...   ...
39995       39996  NaN   NaN
39996       39997  NaN   NaN
39997       39998  NaN   NaN
39998       39999  NaN   NaN
39999       40000  NaN   NaN

[40000 rows x 3 columns]

In [163]:
# Geração de email aleatório dado os pesos e suas respectivas normalização

email_domain = ["@gmail.com", "@hotmail.com", "@outlook.com", "@proton.me", "@bb.com.br"]
prob_domain = np.array([8, 6, 5, 3, 1])
prob_domain = prob_domain / prob_domain.sum()
display(prob_domain)

array([0.34782609, 0.26086957, 0.2173913 , 0.13043478, 0.04347826])

In [164]:
for i in range(df_jogadores.shape[0]):
    nome = fake.name()
    email = nome.replace(" ", "").lower() + np.random.choice(email_domain, p=prob_domain)
    df_jogadores.loc[i,'nome'] = nome
    df_jogadores.loc[i,'email'] = email

In [165]:
df_jogadores

       id_jogador                     nome                             email
0               1             Bella Barros           bellabarros@hotmail.com
1               2              Theo Duarte              theoduarte@gmail.com
2               3  Ana Carolina Cavalcanti   anacarolinacavalcanti@gmail.com
3               4             Sophie Jesus             sophiejesus@gmail.com
4               5            Sabrina Costa            sabrinacosta@gmail.com
...           ...                      ...                               ...
39995       39996         Ana Liz Caldeira        analizcaldeira@hotmail.com
39996       39997      Luiz Miguel Correia     luizmiguelcorreia@hotmail.com
39997       39998          Giovanna Novaes          giovannanovaes@gmail.com
39998       39999          Bella Rodrigues        bellarodrigues@outlook.com
39999       40000    Antonella Vasconcelos  antonellavasconcelos@outlook.com

[40000 rows x 3 columns]

In [66]:
# Estudos e testes numpy
lista = [ids_jogadores, 1/ids_jogadores]
print(np.array(lista, dtype=np.str_).T)

[['1' '1.0']
 ['2' '0.5']
 ['3' '0.3333333333333333']
 ...
 ['39998' '2.5001250062503124e-05']
 ['39999' '2.500062501562539e-05']
 ['40000' '2.5e-05']]

In [167]:
# Salvando arquivo csv a partir do df_jogadores
df_jogadores.to_csv("../data/jogadores.csv",mode='w', index=False, header=True)